[all:vars]
ansible_user='ec2-user'
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[kube-masters]
%{ for ip in kube-masters ~}
${ip} kubernetes_role='master'
%{ endfor ~}

[kube-workers]
%{ for ip in kube-workers ~}
${ip} kubernetes_role='worker'
%{ endfor ~}
